# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log
/app_logs
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/target/

#spring boot
*/mvnw
*/mvnw.cmd

